$primary: #5349B1;
$secondary: #23912D;
$tertiary: #3F84A1;

$primary-light: #CBC8E8;
$primary-dark: #3A337C;

$secondary-light: #BDDEC0;
$secondary-dark: #19661F;

$tertiary-light: #B5DAEA;
$tertiary-dark: #23414E;

$position-values: (
    0: 0,
    5: 5%,
    10: 10%,
    15: 15%,
    20: 20%,
    50: 50%,
    100: 100%,
    -1: -1%,
    -2: -2%,
    -3: -3%,
    -4: -4%,
    -5: -5%,
);

@import "normalize.scss";
@import "../node_modules/bootstrap/scss/bootstrap";


.navbar-toggler {
    position: relative;
    border: none;

    &:focus {
        box-shadow: none;
    }

    .bar {
        background-color: #212529;
        height: 2px;
        width: 25px;
        position: absolute;
        left: 0;
        transition: transform 0.6s linear;

        &.bar-1 {
            top: 0;
        }

        &.bar-2 {
            top: 6px;
        }

        &.bar-3 {
            top: 12px;
        }
    }

    &[aria-expanded="true"] {
        & .bar-1 {
            transform: rotate(-765deg) translateY(8.5px);
        }

        & .bar-2 {
            display: none;
        }

        & .bar-3 {
            transform: rotate(765deg) translateY(-8.5px);
        }
    }
}

.nav-link:hover,
.nav-link:focus {
    color: $primary;
}

.navbar-nav .show>.nav-link,
.navbar-nav .nav-link.active {
    color: $primary;
}

#hero-section {
    background: linear-gradient(293.5deg, rgba(163, 156, 230, 0.5) 19.35%, rgba(255, 255, 255, 0) 102.26%);

    &>div {
        min-height: calc(100vh - 75px);
    }
}

.section--services {
    background-color: #f3f3f3;

    .angled {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
        background-color: #fff;
        height: 75px;
        position: absolute;
        top: -1px;
    }
}

.footer {
    background-color: $primary-dark;
}